.buttonsContainer {
    display: flex;
    gap: 15px;
    margin: 20px auto 0;
}

.responseContainer {
    display: flex;
    margin: 0 auto;
    gap: 100px;
    align-items: center;
}

.imageContainer {

}

.image {

}

.textContainer{
    display: grid;
    gap: 30px;
}

.code {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.info {
    /*border: 1px solid red;*/
    width: 350px;
    margin-top: -20px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}