.tech {
    width: 50vw;

}

.developer {

}

.techHeader {
    width: 50vw;
    margin-left: 20px;

}

.developerHeader {

}

.row {
    display: flex;
    margin-left: 20px;
}

.rowHeader {
    display: flex;

}

.loading {

}